img(src='./hello-card3.png' alt='hello card')

p
  | Welcome to my GitHub profile! 
  br
  | I am Paweł, !{' '}
  b Frontend Developer
  | living in PL!{' '}
  b Zamość, POLAND
  | .
  
p
  | I love everything tech, and am specialized in React.!{' '}
  | I play 🎸 the guitar in a countr/bluegrass amateur band, love to play basketball !{' '}
  

